<div class="section">
	<ul class="news">
		<li>
			<h2><a href="#">PIC</a></h2>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://uyan.cc/js/iframe.js?UYUserId=2710" async=""></script>
<!-- UY END -->

		</li>
	</ul>
</div>