<div class="section">
	<ul class="news">
		<li>
			<h2><a href="#">About & Contack me</a></h2>
			
			<p>
				It's Just a Pick<br>
				If Bother You，Anywhere, Ignore Me<br>
				If You Have Any Question,Contact Me <a href="mailto:fishgyuyi@gmail.com">E-mail Me</a>
			</p>
			
		</li>
	</ul>
	
</div>
